<footer class="bg-dark p-3">
  <div class="container text-center">
    <nav class="d-flex justify-content-evenly">
      <a href="https://facebook.com" target="_blank" rel="noopener"
        ><i class="bi bi-facebook fs-3"></i
      ></a>
      <a href="https://youtube.com" target="_blank" rel="noopener"
        ><i class="bi bi-youtube fs-3"></i
      ></a>
      <a href="https://twitter.com" target="_blank" rel="noopener"
        ><i class="bi bi-twitter fs-3"></i
      ></a>
      <a href="https://instagram.com" target="_blank" rel="noopener"
        ><i class="bi bi-instagram fs-3"></i
      ></a>
      <a
        href="https://api.whatsapp.com/send?phone=50235677779"
        target="_blank"
        rel="noopener"
        ><i class="bi bi-whatsapp fs-3"></i
      ></a>
      <a href="https://github.com" target="_blank" rel="noopener"
        ><i class="bi bi-github fs-3"></i
      ></a>
      <a href="https://m.me/user.com" target="_blank" rel="noopener"
        ><i class="bi bi-messenger fs-3"></i>
      </a>
    </nav>
    <small class="text-white"
      >&copy; 2023
      <b
        ><a href="https://github.com/Juanjo21-01" target="_blank" rel="noopener" class="text-decoration-none"
          >Juan José</a
        ></b
      >. Sitio hecho con Bootstrap 5 <br />Basado en el sitio de
      <a
        href="https://studiobaddog.com/index.html"
        target="_blank"
        rel="noopener"
        >Studio BadDog</a
      >
      de
      <b
        ><a href="https://jonmircha.com/" target="_blank" rel="noopener"
          >jonmircha</a
        ></b
      ></small
    >
  </div>
</footer>
