<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <!-- boton inicio -->
    <a class="navbar-brand" href="/index.html"
      ><img
        src="/frontend-professional-services/assets/img/professional-services.png"
        alt="Professional Services"
      />
      Professional Services</a
    >

    <!-- boton hamburgesa -->
    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- elementos del menu -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-lg-auto">
        <li class="nav-item">
          <a class="nav-link" href="/frontend-professional-services/index.html"
            >Inicio</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sitios
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="/frontend-professional-services/assets/views/sitios.html#ultimos-proyectos"
                >Últimos Proyectos</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/frontend-professional-services/assets/views/sitios.html#single-page"
                >Sitio <i>single Page</i></a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/frontend-professional-services/assets/views/sitios.html#multi-page"
                >Sitio <i>Multi Page</i></a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="/frontend-professional-services/assets/views/clientes.html"
            >Clientes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="/frontend-professional-services/assets/views/comencemos.html"
            >Comencemos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="/frontend-professional-services/assets/views/contacto.html"
            >¿Interesado?</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
